# Use `path:` syntax to avoid copying the entire repo to the Nix Store.
watch_file ./nix/flake.nix ./nix/flake.lock
use flake path:./nix

# Ensure gcroot in the NixOS Container.
sudo mkdir --parents /nix/var/nix/gcroots/direnv
sudo ln --symbolic --force --no-dereference $(nix build --no-link --print-out-paths 'path:./nix#devShells.x86_64-linux.default') /nix/var/nix/gcroots/direnv/jj

# Force Rust Analyzer to use Nix provided binary.
export __RA_LSP_SERVER_DEBUG="$(which rust-analyzer)"
